<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
  <div class="sidebar-header">
    <div routerLink="/" class="sidebar-logo">
      {{ isSidebarCollapsed ? 'SSPA' : 'SSPA Demo' }}
    </div>
  </div>
  <div class="sidebar-menu">
    <ul>
      @for (item of menuItems; track item.label) {
        <li class="sidebar-menu-item">
          <div
            class="sidebar-item"
            [ngClass]="{
              'has-children': item.children,
              'menu-item-active': item.isOpen
            }"
            (click)="toggleMenuItem(item)"
            [ngClass] ="{'disabled-link':!item.isUrl,'cursor-pointer':item.isUrl}" 
            [routerLink]="item.isUrl ? [item.url] : []"
          >
            <img [src]="item.icon | safe:'url'" alt="nav icon" class="sidebar-item-icon" />
            <span class="sidebar-item-text">{{ item.label }}</span>

            @if (item.children && !isSidebarCollapsed && !item.isOpen) {
              <img [src]="chevron_down | safe:'url'" alt="chevron_down" class="sidebar-item-arrow" />
            } @else if (item.isOpen) {
              <img [src]="chevron_up | safe:'url'" alt="chevron_up" class="sidebar-item-arrow" />
            }
          </div>

          <ul
            *ngIf="item.children && !isSidebarCollapsed && item.isOpen"
            class="sidebar-submenu"
          >
            <li *ngFor="let child of item.children">
              <div class="sidebar-item sidebar-subitem" [routerLink]="child.isUrl ? [child.url] : []">
                <img [src]="child.icon | safe:'url'" alt="nav icon">
                <span class="sidebar-item-text">{{ child.label }}</span>
              </div>
            </li>
          </ul>
        </li>
      }
    </ul>
  </div>
</div>
